.bsky {
  @apply gap-2;
  display: flex;
  flex-flow: column wrap;
  max-width: 66ch;
  
  a:not(:is(a:has(img))) {
    color: var(--color-secondary);
    text-decoration: underline;

    &:hover {
      color: color-mix(in oklab, var(--color-secondary) 80%, #000);
      text-decoration: none;
    }
  }

  footer {
    display: flex;
    align-items: center;
  }

  time { font-size: var(--step--1); }
  
  .embed {
    @apply p-4 gap-2;
    display: flex;
    flex-flow: column wrap;

    figcaption {
      font-style: italic;
      text-align: center;
    }
  }
}