---
import Layout from "@/layouts/Layout.astro";
import { db, eq, Users, Works } from "astro:db";
import Work from "~/Work.astro";

const loggedInUser = Astro.locals.loggedInUser;
const works = await db.select()
  .from(Works)
  .innerJoin(Users, eq(Works.author, Users.userDid))
  .orderBy(Works.title);

works.sort((a, b) => {
  return (b.Works.updatedAt ?? b.Works.createdAt).valueOf() - (a.Works.updatedAt ?? a.Works.createdAt).valueOf();
});

function shouldShow(work) {
  console.log(work);
  let result = !work.draft || (loggedInUser && work.author == loggedInUser.did)
  console.log(result);
  return result;
}
---

<Layout>
  <main id="content">
    <header class="flex items-center justify-between">
      <h1>Works</h1>
      {loggedInUser && 
        <a href="/works/add" class="btn btn-primary">wanna write kid?</a>
      }
    </header>

    <section>
      <ol class="flex flex-col flex-wrap gap-5">
        {works.map(async ({ Works, Users }) => 
           shouldShow(Works) &&
          (<li>
            <Work work={Works} user={Users} />
          </li>)
        )}
      </ol>
    </section>
  </main>
</Layout>