---
import TagsInput from "~/TagsInput";
import Layout from "../layouts/Layout.astro";
import { AtProto } from "~/chapters/AtProto";

const currentUser = Astro.locals.loggedInUser;
---
<Layout skipLink="content">
	<main id="content">
		<h1>hi</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium eum est quisquam distinctio magni recusandae quia vero tempore consectetur! Dolore repellat, voluptatem dignissimos sit eaque iste atque facilis in saepe?</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, maxime libero eveniet repellat corporis, architecto voluptate maiores ullam accusamus quasi nostrum nihil placeat cum earum ex voluptatum, harum sunt quam!</p>
		<p>
			<TagsInput tagType="character" client:only="preact" />
		</p>
		<!-- <AtProto type="bsky" did="haetae.cozy.fan" rkey="3m36kaftz522d" client:only /> -->
	</main>

	{currentUser
		? <>
				<p>you're logged in!</p>
				<form action="/oauth/logout" method="post">
					<button>logout</button>
				</form>
			</>
		: <a href="/login">login</a>}
</Layout>