---
import Popover from "~/Popover.astro";
import Layout from "../layouts/Layout.astro";

const currentUser = Astro.locals.loggedInUser;
---
<Layout skipLink="content">
	<main id="content">
		<h1>hi</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium eum est quisquam distinctio magni recusandae quia vero tempore consectetur! Dolore repellat, voluptatem dignissimos sit eaque iste atque facilis in saepe?</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, maxime libero eveniet repellat corporis, architecto voluptate maiores ullam accusamus quasi nostrum nihil placeat cum earum ex voluptatum, harum sunt quam!</p>
	</main>

	<form>
	<Popover id="hey" icon="info" label="test">
		<p>hello?</p>
	</Popover>
	</form>

	<Popover id="what" label="tell me">
		<p>fdajlkdfsjl?</p>
	</Popover>

	{currentUser
		? <>
				<p>you're logged in!</p>
				<form action="/oauth/logout" method="post">
					<button>logout</button>
				</form>
			</>
		: <a href="/login">login</a>}
</Layout>