---
import Layout from "../layouts/Layout.astro"
---
<Layout>
  <h1>Not found!</h1>
  <p>There's a chance that the resource you're looking for doesn't exist or there was a typo in the URL.</p>
  <p>You can go back to the <a href="/">home page</a> or report the issue through the contact form.</p>
</Layout>