---
import Layout from "../layouts/Layout.astro";
// we need an appview to search all possible fanfics in the protocol
---

<Layout>
  <main id="search">
    <h1 class="text-lg">Search</h1>
    <form method="get">
      <label class="label" for="work-search">Title</label>
      <input class="input" type="search" name="workSearch" id="work-search" />
    </form>
  </main>
</Layout>