---
interface Props {
  id: string;
  title: string;
  alert?: boolean;
}

const { id, title, alert = false } = Astro.props;
---
<dialog {id} role={alert ? "alertdialog" : undefined} closedby="any">
  <header>
    <h1>{title}</h1>
    <form method="dialog">
      <button>close</button>
    </form>
  </header>

  <slot />
</dialog>

