---
// import X from "@lucide/astro/icons/x";

interface Props {
  id: string;
  title: string;
  class?: string;
  alert?: boolean;
}

const { id, title, class: className, alert = false } = Astro.props;
---
<dialog
  {id}
  class:list={[
    "modal modal-bottom sm:modal-middle",
    className,
  ]}
  role={alert ? "alertdialog" : undefined}
  closedby="any"
>
  <div class="modal-box">
    <header class="modal-header">
      <h1 class="text-lg leading-none flex-1 pl-2">{title}</h1>
      <form method="dialog">
        <button class="btn btn-error">
          <div class="i-lc-x w-[2em] h-[2em]" aria-hidden="true"></div>
          <span class="sr-only">Close</span>
        </button>
      </form>
    </header>
    
    <div class="mt-14">
      <slot />
    </div>
  </div>
</dialog>

<style>
  .modal-header {
    @apply absolute top-0 left-0 flex items-center justify-between p-2 container bg-accent text-accent-content;
  }
</style>