---
const loggedInUser = Astro.locals.loggedInUser;
---
<nav id="main-nav" class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost font-display text-xl">Home</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/search">Search</a></li>
      <li><a href="/works">Works</a></li>
      {loggedInUser
        ? <>
            <li><a href="/works/add">New Work</a></li>
            <li><a href="/user">Settings</a></li>
          </>
        : <li><a href="/login">Login</a></li>
      }
    </ul>
  </div>
</nav>