---
const LINKS = [
  { label: "Home", url: "/" },
  { label: "Works", url: "/works" },
];

const loggedInUser = Astro.locals.loggedInUser;
---
<nav id="main-nav">
  <ul>
    {LINKS.map(({ label, url }) => (
      <li><a href={url}>{label}</a></li>
    ))}
    {loggedInUser
      ? <li><a href="/user">Settings</a></li>
      : <li><a href="/login">Login</a></li>
    }
  </ul>
</nav>