---
import Settings from "./Settings.astro";

const loggedInUser = Astro.locals.loggedInUser;
---
<nav id="main-nav" class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/" class="ml-3">Home</a>
  </div>
  <div class="flex items-center gap-2">
    <search>
      <form action="" method="get">
        <input type="search" class="input" />
      </form>
    </search>
    <ul class="menu menu-horizontal items-center px-1">
      <li><a href="/works">Works</a></li>
      {loggedInUser
        ? <>
            <li><a href="/works/add">New Work</a></li>
            <li><a href="/user">User Profile</a></li>
          </>
        : <li><a href="/login">Login</a></li>
      }
      <li>
        <button id="trigger-settings">
          <div class="i-lc-cog w-7 h-7" aria-hidden="true"></div>
          <span class="sr-only">Open settings</span>
        </button>
      </li>
    </ul>
  </div>
</nav>

<Settings />

<style>
  #trigger-settings {
    @apply btn btn-neutral btn-square ml-3;
  }
</style>

<script>
  const trigger = document.getElementById("trigger-settings");
  const dialog = document.getElementById("settings") as HTMLDialogElement;

  trigger?.addEventListener("click", (_) => {
    dialog.showModal();
  });
</script>