.tagify {
  --tag-invalid-color: var(--color-error-content);
  --tag-invalid-bg: var(--color-error);
  --tag-bg: var(--color-base-300);
  --tag-text-color: var(--color-base-content);
  --tags-disabled-bg: color-mix(in oklab,var(--color-base-content)10%,transparent);
  --tag-border-radius: var(--radius-field);
  --tags-border-color: var(--input-color);
  @apply input only-of-type:(size-[unset] p-inline-0 gap-0 font-size-[1rem]);
}

.tagify__tag__removeBtn {
  @apply btn btn-sm btn-circle;
  height: calc(var(--spacing) * 4);
  width: calc(var(--spacing) * 4);
  content: icon('i-lc-x');

  &::after {
    content: none;
  }

  &:hover {
    @apply bg-error text-error-content;
  }
}