/* import themes here */
@import "./themes/evergarden.css";
@import "./themes/rosepine.css";

:root {
  /* size tokens */
  /* @link https://utopia.fyi/type/calculator?c=360,18,1.067,1240,20,1.125,10,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,NaN */
  --step--2: clamp(0.9877rem, 0.9884rem + -0.0009vw, 0.9882rem);
  --step--1: clamp(1.0544rem, 1.0311rem + 0.1032vw, 1.1111rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.2004rem, 1.1162rem + 0.3743vw, 1.4063rem);
  --step-2: clamp(1.2808rem, 1.1576rem + 0.5477vw, 1.582rem);
  --step-3: clamp(1.3666rem, 1.1976rem + 0.7512vw, 1.7798rem);
  --step-4: clamp(1.4582rem, 1.2356rem + 0.9892vw, 2.0023rem);
  --step-5: clamp(1.5559rem, 1.2709rem + 1.2667vw, 2.2525rem);
  --step-6: clamp(1.6601rem, 1.3026rem + 1.5891vw, 2.5341rem);
  --step-7: clamp(1.7713rem, 1.3297rem + 1.9628vw, 2.8509rem);
  --step-8: clamp(1.89rem, 1.3512rem + 2.3949vw, 3.2072rem);
  --step-9: clamp(2.0167rem, 1.3656rem + 2.8936vw, 3.6081rem);
  --step-10: clamp(2.1518rem, 1.3715rem + 3.468vw, 4.0592rem);

  /* space tokens */
  /* @link https://utopia.fyi/space/calculator?c=360,18,1.067,1240,20,1.125,10,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,NaN */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);
  
  /* font tokens */
  --font-serif: var(--plex-serif);
  --font-dyslexic: var(--dyslexic);
}

body {
  font-size: var(--step-0);
  line-height: 1.5;
  min-height: 100vh;
  
  @supports (min-height: 100svh) {
    min-height: 100svh;
  }
}

h1, h2, h3 {
  font-family: var(--font-display);
  font-weight: normal;
}
h4, h5, h6 { font-family: var(--font-sans); }
h1 { font-size: var(--step-6); }
h2 { font-size: var(--step-5); }
h3 { font-size: var(--step-4); }
h4 { font-size: var(--step-3); }
h5 { font-size: var(--step-2); }
h6 { font-size: var(--step-1); }