---
import "$/styles/global.css";
import { Font } from "astro:assets";
import Navbar from "~/Navbar.astro";

interface Props {
	title?: string;
	skipLink?: string;
	class?: string;
}

const { title = "fanfics", skipLink, class: className, ...rest } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<Font cssVariable="--quattro" preload />
		<Font cssVariable="--dyslexic" preload />
		<Font cssVariable="--intel-mono" preload />
		<Font cssVariable="--plex-serif" preload />
		<Font cssVariable="--jacquard-12" preload />
		<slot name="head" />
	</head>
	<body class="flex flex-col min-h-svh">
		<header>
			{skipLink && (
				<a class="skip-link" href={`#${skipLink}`}>Skip to content</a>
			)}

			<Navbar />
		</header>

		<div class:list={["sm:w-10/12 sm:mx-auto max-w-full mx-6 text-base", className]} {...rest}>
			<slot />
		</div>

		<footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content mt-5 p-5">
			copyright or something ig
		</footer>
	</body>
</html>

<style>
	@reference "../assets/styles/global.css";

	.skip-link {
		@apply absolute top-3 -left-full transition-all ease-in-out btn btn-ghost;
		
		&:focus {
			@apply left-3;
		}
	}
</style>